body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  box-sizing: border-box;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background: #000;
  color: #fff;
}
.navbar .logoTitle {
  padding: 10px 0 0 50px;
}
.navbar ul {
  margin-right: 30px;
  list-style: none;
  text-decoration: none;
  display: flex;
  padding: 20px 0 0 5px;
}
.navbar ul li {
  margin-right: 20px;
}
