/* .row {
    display: flex;
    align-content: center;
} */

.row-footer {
    display: block;
    text-align: center;
}

.copyright {
    text-align: center;
}

@media screen and (max-width: 760px) {
    .container > div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 760px) {
    .movie-title > h5 {
        display: flex;
        justify-content: center;
    }
}