.row {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.col-1 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-content: center;
}

.list-group {
    list-style: none; 
    padding: 0;
}

.list-group span {
    color: #000;
    text-align: center;
}

.list-group-movie {
    list-style: none; 
    padding: 0;
}

.list-group-movie label {
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-align: center;
    max-width: 12rem;
    word-wrap: break-word;
    color: #000;
    font-weight: 700;
}

img {
    width: 12rem; 
    height: 300px; 
    margin: 0;
}

@media screen and (max-width: 760px) {
    .actor-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .list-group > li {
        margin: auto;
    }
}

@media screen and (max-width: 640px) {
    .col {
        padding: 15px;
        margin: auto;
    }
}

@media screen and (max-width:495px) {
    .list-group {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 20px;
        margin: 0;
    }
}