.login-box {
    width: 100%;
    height: 550px;
    display: flex; 
    justify-content: center; 
    align-content: center; 
    margin-top: 25px; 
    margin-bottom: 25px;
}

.login-title {
    display: flex;
    justify-content: center;
}

.login-button {
    display: flex; 
    justify-content: center;
}

.enroll-now {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 495px) {
    .login-title > h4 {
        font-size: 20px;
        font-weight: 600;
    }
    .enroll-now > h5, Link {
        font-size: 15px;
    }
    .form-group > label {
        font-size: 15px;
    }
}