.image-container {
    width: 100%;
}

.hero-image {
    position: relative;
}

.hero-image img {
    background: linear-gradient(to bottom, rgba(0,0,0,0)
    39%, rgba(0,0,0,0)
    41%, rgba(0,0,0,0.65)
    100%), #1c1c1c;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.description {
    position: absolute; 
    background: rgba(0,0,0,0.65);
    max-width: 500px;
    max-height: fit-content; 
    top: 50%;
    bottom: 10%;
    padding: 25px;   
}

.description > h2, span, p {
    color: #fff;
}

.description > h2 {
    font-size: 40px;
}

.description > p {
    font-size: 16px;
}

.movie-title {
    width: 85%; 
    margin: 1rem auto;
}

.load-button {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .description > h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 495px) {
    .description {
        margin-top: 40px;
    }
    .description > p {
        font-size: 13px;
    }
}
