@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Ubuntu:ital,wght@0,300;1,300&display=swap');

.fas {
    color: #fff;
}

.fas > span {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    text-transform: capitalize;
}

@media screen and (max-width: 495px) {
    .fas > span {
        font-size: 12px;
    }
}