.register-box {
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-content: center;
    margin-top: 25px; 
    margin-bottom: 25px;
}

.form-box > label {
    display: flex;
    justify-content: center;
}

.form-box > h5, Link {
    text-align: center;
}

.register-title {
    display: flex;
    justify-content: center;
}

.register-button {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .form-box > h5, Link {
        text-align: center;
    }
}

@media screen and (max-width: 495px) {
    .register-title > h4 {
        font-size: 20px;
        font-weight: 600;
    }
    .form-box > h5, Link {
        font-size: 15px;
        text-align: center;
    }
    .form-box > label {
        font-size: 12px;
    }
    .form-control {
        font-size: 12px;
    }
}